body {
  background-image: url("src/night_bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: Verdana, sans-serif;
  margin: 0;
  cursor: crosshair;
}


.main {
  display: flex;
  flex-direction: column;
  padding: 200px;
}

.top{
  display: flex;
  justify-content: space-around;
}

#profile{
  display: flex;
  background-color: rgba(128, 128, 128, 0.125);
  width: 270px;
  height: 320px;
  border-radius: 2%;
  border: solid;
  border-color: rgba(70, 255, 162, 0.719);
  align-items:center;
  flex-direction: column;
  justify-content:space-around;
}

#navi{
  background-color: rgba(128, 128, 128, 0.125);
  width: 600px;
  height: 320px;
  border-radius: 2%;
  border: solid;
  border-color: rgba(70, 255, 162, 0.719);
}

#pfp{
  display: flex;
  width: 150px;
  border-radius: 50%;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.logo {

  justify-content: space-between;
  overflow: hidden;
  display: inline-block;
}

.logo img {
  width: 40px;
  height: 40px;
  object-fit: contain; 
  transition: transform .5s;
}
 
.logo:hover img {
transform: scale(1.2) rotate(0deg);
transform-origin: 50% 50%;
border: solid;
border-color: rgb(46, 248, 188);
}     
   